<h1 class="text-white bg-dark">Messages</h1>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
    <div class="row m-4" *ngIf="isAdmin() && message.getNumberCompany() > 0">
        <h4>{{message.getNumberCompany()}} absences to validate</h4>
        <table class="table mt-4">
            <thead class="table-dark">
                <tr>
                    <th>User code</th>
                    <th>Type absence</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Validate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of message.company">
                    <td>{{ m.codUser }}</td>
                    <td>{{ m.type }}</td>
                    <td>{{ m.startTime | date: 'mediumDate' }}</td>
                    <td>{{ m.endTime | date: 'mediumDate' }}</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-outline-success btn-block" (click)="validateAbsence(m.id)"><mat-icon>check</mat-icon><span class="ml-1">Validate</span></button></div>
                            <div class="col"> <button type="button" class="btn btn-outline-danger btn-block" (click)="declineAbsence(m.id)"><mat-icon>cancel</mat-icon><span class="ml-1">Decline</span></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row m-4" *ngIf="message.getNumberNotValidated() > 0">
        <h4>{{message.getNumberNotValidated()}} absences without validate for any admin</h4>
        <table class="table mt-4">
            <thead class="table-dark">
                <tr>
                    <th>Type absence</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of message.not_validated">
                    <td>{{ m.type }}</td>
                    <td>{{ m.startTime | date: 'mediumDate' }}</td>
                    <td>{{ m.endTime | date: 'mediumDate' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row m-4" *ngIf="message.getNumberDeclined() > 0">
        <h4>{{message.getNumberDeclined()}} declined absences</h4>
        <table class="table mt-4">
            <thead class="table-dark">
                <tr>
                    <th>Type absence</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of message.declined">
                    <td>{{ m.type }}</td>
                    <td>{{ m.startTime | date: 'mediumDate' }}</td>
                    <td>{{ m.endTime | date: 'mediumDate' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row m-4" *ngIf="message.getNumberValidated() > 0">
        <h4>Last {{message.getNumberValidated()}} validated absences</h4>
        <table class="table mt-4">
            <thead class="table-dark">
                <tr>
                    <th>Type absence</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of message.validated">
                    <td>{{ m.type }}</td>
                    <td>{{ m.startTime | date: 'mediumDate' }}</td>
                    <td>{{ m.endTime | date: 'mediumDate' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
