<div class="container">
    <div class="row align-items-start">
        <div class="col align-self-start">
            <app-info-user></app-info-user>
        </div>
        <div class="col align-self-start">
            <app-info-company></app-info-company>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col align-self-start">
            <app-daily-entry></app-daily-entry>
        </div>
        <div class="col align-self-start">
            <app-message-summary></app-message-summary>
        </div>
    </div>
</div>