<footer class="mt-3 bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="">
            <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i class="fab fa-facebook-f"></i
      ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i class="fab fa-twitter"></i
      ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i class="fab fa-google"></i
      ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i class="fab fa-instagram"></i
      ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i class="fab fa-linkedin-in"></i
      ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i class="fab fa-github"></i
      ></a>
        </section>
    </div>

    <h3> Isaac Morales General</h3>
    <a href="https://www.uoc.edu/portal/es/index.html">UOC</a>

    <div class="container">
        <ul>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href="">Terms and Conditions</a>
            </li>
            <li>
                <a href="">Privacy Policy</a>
            </li>
            <li>
                <a href="">Cookies</a>
            </li>
        </ul>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="home">Clock-In.com</a>
    </div>
</footer>
